private/
vimperator/info/
vim/.netrwhist
vim/bundle/
!vim/bundle/vundle/

emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/anything-c-adaptive-history
emacs.d/tutorial/
emacs.d/server/
byobu/.ssh-agent
