[submodule "emacs.d/elisp/tumble"]
	path = emacs.d/elisp/tumble
	url = https://github.com/febuiles/tumble.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "vimperator/vimperator-plugins"]
	path = vimperator/vimperator-plugins
	url = https://github.com/vimpr/vimperator-plugins.git
[submodule "zsh/plugin/zaw"]
	path = zsh/plugin/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "zsh/plugin/z"]
	path = zsh/plugin/z
	url = https://github.com/rupa/z.git
[submodule "emacs.d/elisp/yasnippet"]
	path = emacs.d/elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
